/* imports normalize */
@import "normalize.css";
/*universal styles*/
body {
  background-color: #fcffef;
  margin: 0px;
}
header {
  background-color: #e5c1bd;
}

/*responsive sizing*/
/*for small screens*/
@media screen and (max-width: 400px) {
}

/*for medium screens*/
@media screen and (min-width: 401px) {
}

/*for large screens*/
@media screen and (min-width: 600px) {
  .logo1 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  }
  /*side nav*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #60747e;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fcffef;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #e5c1bd;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .nav-lines {
    font-size: 30px;
    color: #60747e;
    cursor: pointer;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
  }
}

/*for EXTRA large screens*/
@media screen and (min-width: 1500px) {
}
