/* imports normalize */
@import "normalize.css";
/*universal styles*/
h1 {
  font-family: "Neuton", sans-serif;
  color: #b6be9e;
  padding-left: 30px;
}
h2 {
  font-family: "Kreon", sans-serif;
  color: #7c9f87;
  padding-left: 30px;
}
p {
  font-family: "Biryani", sans-serif;
  color: #435962;
}
body {
  background-color: #fcffef;
  margin: 0px;
}
header {
  background-color: #e5c1bd;
}
/*search bar*/
#userInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
}
#recipeList {
  list-style-type: none;
}
#recipeList li a {
  background-color: #e5c1bd;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: #435962;
  display: block;
  height: 300px;
  position: sticky;
  top: 0;
}
#recipeList li a:hover:not(.header) {
  background-color: #000;
}
/*recipe items on all recipe page*/
.recipe-container {
  width: 95%;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
}
.recipe-img {
  width: 75%;
}

/*responsive sizing*/
/*for small screens*/
@media screen and (max-width: 400px) {
}

/*for medium screens*/
@media screen and (min-width: 401px) {
}

/*for large screens*/
@media screen and (min-width: 600px) {
  .logo1 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
  }
  /*side nav*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #435962;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Kreon", serif;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fcffef;
    display: block;
    transition: 0.3s;
    font-family: "Kreon", serif;
  }

  .sidenav a:hover {
    color: #e5c1bd;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }
  .nav-lines {
    font-size: 30px;
    color: #435962;
    cursor: pointer;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
  }
}

/*for EXTRA large screens*/
@media screen and (min-width: 1500px) {
}
